body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003366;
    padding: 0;
    margin: 0 auto;
    

}
header {
    background-color: #003366;
    color: white; 
    padding: 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
  
.Logo {
    width: 200px; 

}
  
.Logo img {
    height: auto;
    width: 40%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px; 
}
  
nav {
    margin-left: auto; 
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
  
nav ul li a:hover {
    color: #007bff; 
}
  

  
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
nav ul li ul li {
    list-style: none;
    padding: 10px;
}
  
nav ul li ul li a {
    display: block;
    color: #333;
    text-decoration: none;
}
  
nav ul li ul li a:hover {
    background-color: #f1f1f1;
}
  
nav ul li:hover ul {
    display: block;
}
.mySlides-fade {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    margin: 0 auto;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: rgb(0, 0, 0);
}
section h2{
    width: 100%;
    background-color: #002346;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: unset;
    }
    .Logo img {
        width: 30%; 
    }
    nav {
        align-items: center;
        flex-direction: column; 
        align-items: center; 
    }
    nav ul {
        flex-direction: column;
        align-items: center; 
    }
    nav ul li {
        margin: 10px 0; 
    }
    section h2{
        width: 96%;
        background-color: rgb(61, 114, 184);
        color: #ffffff;
        padding: 20px 10px;
        text-align: center;
    }
    
}
section p{
    text-align: center;
    color: #ffffff;
}
.noticias {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .noticias h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contenedor-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .noticia {
    width: 300px; 
    margin-bottom: 20px;
  }
  
  .noticia img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 8px; 
  }
  
  .noticia h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .noticia p {
    margin-top: 5px;
    line-height: 1.6;
  }
  
  .noticia .leer-mas {
    display: block;
    text-align: center;
    padding: 8px 12px;
    background-color: #002346;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .noticia .leer-mas:hover {
    background-color: #0056b3;
  }
  footer {
    background-color: #333; 
    color: #fff;
    padding: 0px;
    text-align: center; 
  }
  
  .footer-container {
    max-width: 1000px; 
    margin: 0 auto; 
  }
  
  .footer-links {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .footer-links a {
    color: #fff; 
    text-decoration: none; 
  }
  @media (min-width: 768px) {
    /* ... estilos para pantallas grandes */
  }
  
  /* Estilos para pantallas entre 480px y 768px (tablets pequeños) */
  @media (min-width: 480px) and (max-width: 768px) {
    header {
  display: flex; /* Activa flexbox */
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: space-between; /* Distribuye los elementos entre sí */
}

nav ul {
  display: flex; /* Activa flexbox para la lista de navegación */
  flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias filas si es necesario */
}
    /* ... estilos para tablets pequeños */

  }
  
  /* Estilos para pantallas menores a 480px (móviles) */
  @media (max-width: 480px){
    header {
        display: flex; /* Activa flexbox */
        align-items: center; /* Alinea los elementos verticalmente */
        justify-content: space-between; /* Distribuye los elementos entre sí */
      }
      
      nav ul {
        display: flex; /* Activa flexbox para la lista de navegación */
        flex-wrap: wrap; /* Permite que los elementos se distribuyan en varias filas si es necesario */
      }

  }