body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 81, 255);
    padding: 0;
    margin: 0 auto;

}
header {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
    margin: 0 auto;
    background-color: rgb(0, 81, 255);
}
.Logo img {
    width: 40%;
    height: auto;
}
nav {
    
    display: flex;
    align-items: end;
    margin-top: 0; /* Elimina el margen superior */
    padding-top: 10px; /* Añade espacio en la parte superior */
    padding-bottom: 10px; /* Añade espacio en la parte inferior */

}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a { 
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mySlides-fade {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    margin: 0 auto;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: rgb(0, 68, 255);
}
section h2{
    width: 100%;
    background-color: rgb(0, 109, 255);
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}
/* Estilos para pantallas más pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: unset; /* Cambia la dirección de los elementos en el header */
    }
    .Logo img {
        width: 30%; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }
    nav {
        align-items: center;
        flex-direction: column; /* Cambia la dirección de los elementos en el nav */
        align-items: center; /* Centra los elementos en el nav */
    }
    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos en la lista */
        align-items: center; /* Centra los elementos en la lista */
    }
    nav ul li {
        margin: 10px 0; /* Ajusta el margen entre los elementos de la lista */
    }
}