body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 20px auto; 
    color: #3052ce;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 10px;
    padding: 20px;   
}

main {
    margin-top: 70px;
}

section {
    margin-top: 20px;
    background-color: rgb(255,255,255);
    padding: 50px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative; /* Establecer posición relativa para el posicionamiento absoluto del botón */
}

section form div {
    font-size: 14px;
    margin-bottom: 20px;
    position: relative; /* Establecer posición relativa para el posicionamiento absoluto del botón */
}

section label {
    display: block;
    margin-bottom: 5px;
}
section input {
    width: calc(100% - 0px);
    padding: 7px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
#password{
    width: calc(100% - 70px);
    padding: 7px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.button-login {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #ccc;
    background-color: #244bd8;
    transition: opacity 0.3s ease;
}

.button-login:hover {
    opacity: 0.9;
}
footer {
    margin-top: 60px;
    background-color: #333; 
    color: #fff;
    padding: 20px;
    text-align: center; 
  }
  
  .footer-container {
    max-width: 1000px; 
    margin: 0 auto; 
  }
  
  .footer-links {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block; 
    margin-right: 20px; 
  }
  
  .footer-links a {
    color: #fff; 
    text-decoration: none; 
  }
  

#recuperar {
    font-size: 12px;
}

.button {
    position: absolute; /* Establecer posición absoluta para el botón */
    top: 70%; /* Alinear verticalmente al centro */
    right: 0; /* Alinear a la derecha */
    transform: translateY(-50%); /* Alinear verticalmente al centro */
    width: 70px; /* Ancho del botón */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #244bd8; /* Color del botón */
    background-color: #fff; /* Fondo del botón */
    cursor: pointer;
}